.price-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ps-text {
    align-self: baseline;
    font-family: 'Century Gothic';
    color: #1d323f;
    margin: 10px 0;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
}
.ps-text-notes {
    align-self: baseline;
    font-family: 'Century Gothic';
    color:#000;
    margin: 10px 0;
    padding: 0 20px;
    font-size: 11px;
}
.ps-subtitle {
    text-decoration: underline;
    font-weight: 700;
    color:#1D323F;
    margin-top: 10px;
}
.service {
    color:#1D323F;
    font-weight: 700;
    margin-top: 10px;
}
.ps-title {
    font-family: 'Franklin Gothic';
    color:#404869;
    font-size: 30px;
    text-align: center;
    padding: 0 20px;
}
<<<<<<< HEAD
.btns-wrapper {
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 0px;
  }
=======
>>>>>>> 70b4ce2b05dea246a720423cceb2c91d9d067098
.title-custom {
    font-family: 'Century Gothic';
}