.about-screen {
    display:flex;
    flex-direction: column;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px 20px 40px;
}
.abu-list-wrapper {
   
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    margin: 5px 0;
}
.abu-list-icon {
    width:10px;
    max-width: 10px;
}
.abu-list-text {
    text-align: left;
    color:#1D323F;
    font-family: 'Century Gothic';
}
.icon-wrapper {
    width: 10px;
    max-width: 10px;
}
.abu-text {
    color:#1D323F;
    padding-top: 10px;
    text-align: justify;
    width:400px;
    font-family: 'Century Gothic';
    width: 100%;
}
.boyler-img-wrapper {
    max-width: 900px;
    width: 100%;
}
.boyler-img {
    max-width: 900px;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .abu-text {
        width: 100%;
        text-align: left;
        font-size: 13px;
        padding-top: 10px;
    }
    .content-wrapper {
        padding: 20px 0 40px;
    }
    .m-i-lr-20 {
        padding-left: 20px;
        padding-right: 20px;
    }
}