.priceListItem {
    display: flex;
    gap:20px;
    justify-content: space-between;
    margin: 10px 0;
    border-bottom: 1px solid #000;
}
.service {
    flex:1;
    color:#404869;
    font-family:'Franklin Gothic';
}
.price {
    flex:1;
    text-align: right;
    font-family:'Franklin Gothic';
    color:#000;
    margin: 10px 0;
}